<!DOCTYPE html>
<html lang="ja">
{% block head %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="theme-color" content="#42a5f5">
  <title id="title">{{ auth }}</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <style type="text/css">
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main { flex: 1 0 auto; }
  </style>
</head>
{% endblock %}
<body>
  <div class="navbar-fixed">
    <nav class="blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <i class="material-icons" onclick="window.history.back(-1)">arrow_back</i>
      </div>
      <ul class="right">
        <li><a>A link</a></li>
        <li><a>A second link</a></li>
        <li><a>A third link</a></li>
      </ul>
    </nav>
  </div>
  
  <div id="content">
    <div class="card" id="card">
        <div class="card-image">
          <img src="{{ url_for('static', filename = 'cache/' + image_src) }}">
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" href="{{ url_for('static', filename = 'cache/' + image_src) }}" download>
            <i class="material-icons">cloud_download</i>
          </a>
        </div>
        <div class="card-content">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ icon }}" alt="{{ auth }}" href="{{ user_href }}" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">{{ auth }}</span>
            </div>
          </div>
      </div>
      </div>
  </div>
  
  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  {% block scripts %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/init.js') }}"></script>
  {% endblock %}
  </body>
</html>
