{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    var key_word = "";
    function update()
    {
        key_word = $("#key_box").val();
    }
    function receive(submit_key_word, page)
    {
        $("#progress").fadeIn("slow")
        $("#indeterminate").fadeIn("slow")
        $("#key_word_box").text(submit_key_word);
        $.get('/search/' + '{"key" : "' + submit_key_word + '" ,' + '"page" : ' + page + '}', 
        function(data){
            $("#progress").fadeOut("slow")
            $("#indeterminate").fadeOut("slow")
            $("#title").text("Pixiv : " + submit_key_word);
            $("#content").html(data);
            for (var i = 0; i < parseInt($("#length").text()); i++)
            {
                $("#card_" + i.toString()).fadeIn("slow")
            }
        })
    }
    $("#submit").click(
    function ()
    {
        receive(key_word, '1')
    });
  </script>
{% endblock %}
